<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015938424415-r6o7ha4ugbdh4qn06d7msmqe9495cfpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015938424415-r6o7ha4ugbdh4qn06d7msmqe9495cfpj</string>
	<key>API_KEY</key>
	<string>AIzaSyDLbhzycRdDpmpCHxkw-c2_31uJls5Oip0</string>
	<key>GCM_SENDER_ID</key>
	<string>1015938424415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sunkar.Sultanali.FirebaseAppSample</string>
	<key>PROJECT_ID</key>
	<string>fir-appsample-15c41</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-appsample-15c41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015938424415:ios:6b3cd65bd9ff31aa9c85ea</string>
</dict>
</plist>